body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#app {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#login,
#register,
#chat,
#users {
    display: flex;
    flex-direction: column;
}

input,
button {
    margin: 5px 0;
    padding: 10px;
    font-size: 16px;
}

#messages {
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
}